.productsContainer {
     color: #444141;
    align-items: center;
    justify-content: space-between;
}

.titleContainer {
    color: #5c9fff;
    font-size: 20px;
    text-align: center;
    }

.cardContainer {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    border-radius: 30px;
    justify-content: space-around;

}

.cardStyle {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 50vh;
    border: 1px solid #5c9fff;
    background-color: #fffffe;
    border-radius: 20px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

.cardStyle:hover {
    background-color: #acbacc77;
    text-decoration: dashed;
    border: 1px solid #95989b;;
  }
.productsImg {
    width: 65%;
    border-radius: 8px;
    margin-top: 20px;

}

.productsName {
    font-size: 14px;
    font-weight: bold;
    color: rgb(49, 49, 49);

}

.productsInfo {
    font-size: 12px;
    font-weight: bold;
    color: #757575;

}
.productAdd{
    border-radius: 5px;
    border: 2px solid #5c9fff;
    background-color: #5c9fff;
    color: #ffffff;
    font-size: 12px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.productDetail{
    font-size: 16px;
    font-weight: bold;
    color: #424242;
    text-align: center;
}

.productClose{
    border-radius: 5px;
    border: 2px solid #5c9fff;
    background-color: #5c9fff;
    color: #ffffff;
    font-size: 16px;
    font-weight: bolder;
    margin-left: 450px;
 
}


.btnIncreaseDecrease{
    border-radius: 5px;
    border: 2px solid #5c9fff;
    background-color: #5c9fff;
    color: #ffffff;
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 10px;
}
.productRem{
    border-radius: 5px;
    border: 2px solid #5c9fff;
    background-color: #5c9fff;
    color: #ffffff;
    font-size: 12px;
    font-weight: bolder;
    margin-bottom: 10px;
}
